*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app{
  border: 1px solid aqua;
  padding: 10px;
  width: 800px;
  height: 400px;
  position: relative;
  top: 10%;
  left: 30%;
}
#app li{
  list-style: none;
}